# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [72]:
file_path = 'city_data.csv'

part1_df = pd.read_csv(file_path)
part1_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,pilar,73,BR,1586921558,88,-9.60,-35.96,73.40,2.24
1,1,bichena,100,ET,1586921558,41,10.45,38.20,55.20,1.12
2,2,hobart,90,AU,1586921547,82,-42.88,147.33,60.80,5.82
3,3,mataura,100,NZ,1586921329,95,-46.19,168.86,48.00,4.00
4,4,puerto ayora,95,EC,1586921559,91,-0.74,-90.35,79.00,7.00
...,...,...,...,...,...,...,...,...,...,...
560,560,ocampo,55,MX,1586921698,10,21.65,-101.50,66.67,9.15
561,561,semnan,6,IR,1586921583,45,35.57,53.40,50.56,3.24
562,562,huilong,97,CN,1586921698,54,31.81,121.66,70.00,5.01
563,563,dekar,86,BW,1586921699,33,-21.53,21.93,68.23,10.36
564,564,kavaratti,20,IN,1586921699,70,10.57,72.64,86.00,4.07

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [73]:
gmaps.configure(api_key=g_key)

locations = part1_df[['Lat','Lng']]

humidity = part1_df['Humidity'].astype(float)

In [74]:
#plot heatmap
fig = gmaps.figure()

#create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=100,point_radius=2)

#Add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [75]:
max_temp_df = part1_df.loc[((part1_df['Max Temp']<65))&((part1_df['Cloudiness']<10))&((part1_df['Wind Speed']<15)),:]

hotel_df = max_temp_df.dropna()
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
12,12,hamilton,1,US,1586921561,69,39.18,-84.53,37.00,5.08
18,18,fortuna,1,US,1586921337,71,40.60,-124.16,55.00,11.41
25,25,ales,1,FR,1586921564,45,44.13,4.08,48.99,4.70
28,28,tasiilaq,2,GL,1586921340,63,65.61,-37.64,26.60,5.82
29,29,thompson,5,CA,1586921566,51,55.74,-97.86,10.40,4.70
...,...,...,...,...,...,...,...,...,...,...
526,526,shitkino,2,RU,1586921689,43,56.37,98.35,51.08,7.00
533,533,griffith,1,US,1586921691,65,41.53,-87.42,35.60,3.36
550,550,qena,0,EG,1586921695,48,26.16,32.72,64.40,5.53
556,556,campo verde,1,BR,1586921697,82,-20.42,-54.07,64.40,12.75
561,561,semnan,6,IR,1586921583,45,35.57,53.40,50.56,3.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [76]:
hotel_df['Hotel Name'] = ''

hotel_df

C:\Users\alynd\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
12,12,hamilton,1,US,1586921561,69,39.18,-84.53,37.00,5.08,
18,18,fortuna,1,US,1586921337,71,40.60,-124.16,55.00,11.41,
25,25,ales,1,FR,1586921564,45,44.13,4.08,48.99,4.70,
28,28,tasiilaq,2,GL,1586921340,63,65.61,-37.64,26.60,5.82,
29,29,thompson,5,CA,1586921566,51,55.74,-97.86,10.40,4.70,
...,...,...,...,...,...,...,...,...,...,...,...
526,526,shitkino,2,RU,1586921689,43,56.37,98.35,51.08,7.00,
533,533,griffith,1,US,1586921691,65,41.53,-87.42,35.60,3.36,
550,550,qena,0,EG,1586921695,48,26.16,32.72,64.40,5.53,
556,556,campo verde,1,BR,1586921697,82,-20.42,-54.07,64.40,12.75,
561,561,semnan,6,IR,1586921583,45,35.57,53.40,50.56,3.24,

In [84]:
radius = 5000
target_search = "hotel"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"radius": radius,"keyword": target_search,"key": g_key,}

for index, row in hotel_df.iterrows():
    latitude = row['Lat']
    longitude = row['Lng']
    
    params['location']= f'{latitude},{longitude}'
    
    hotel = requests.get(base_url,params=params).json()
    
    results = hotel['results']
    
    try:
        hotel_df.loc[index, 'Hotel Name'] =results[0]['name']
    
    except:
        print("No result, skip.")
hotel_df

C:\Users\alynd\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.
No result, skip.

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
12,12,hamilton,1,US,1586921561,69,39.18,-84.53,37.00,5.08,Hampton Inn & Suites Cincinnati/Uptown-Univers...
18,18,fortuna,1,US,1586921337,71,40.60,-124.16,55.00,11.41,Best Western Country Inn
25,25,ales,1,FR,1586921564,45,44.13,4.08,48.99,4.70,ibis AlÃ¨s Centre-Ville
28,28,tasiilaq,2,GL,1586921340,63,65.61,-37.64,26.60,5.82,Hotel Angmagssalik
29,29,thompson,5,CA,1586921566,51,55.74,-97.86,10.40,4.70,Burntwood Hotel
...,...,...,...,...,...,...,...,...,...,...,...
526,526,shitkino,2,RU,1586921689,43,56.37,98.35,51.08,7.00,
533,533,griffith,1,US,1586921691,65,41.53,-87.42,35.60,3.36,Holiday Inn Express & Suites Schererville
550,550,qena,0,EG,1586921695,48,26.16,32.72,64.40,5.53,Grand Hotel Qena
556,556,campo verde,1,BR,1586921697,82,-20.42,-54.07,64.40,12.75,
561,561,semnan,6,IR,1586921583,45,35.57,53.40,50.56,3.24,Semnan Tourist Hotel

In [99]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [100]:
hotel_list = hotel_df['Hotel Name'].tolist()


# Add marker layer ontop of heat map

hotel_layer = gmaps.symbol_layer(locations,info_box_content=hotel_info)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))